# ==========================================
# C++ Build Artifacts & Binaries
# ==========================================
# Ignore intermediate object files and debug dumps
*.o
*.obj
*.debug
*.d

# Ignore the compiled final binary engines
matching-engine/engine

# ==========================================
# Runtime Telemetry Logs & Performance Metrics
# ==========================================
# Ignore all generated benchmarking logs
*.log
matching-engine/engine_bench*.log